* {
  margin: 0;
  padding: 0;
}
.content {
  height: auto;
  min-width: 280px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
.content-button {
  display: flex;
  align-items: center;
  height: 20px;
  padding: 3px 5px 3px 5px;
  font-size: 13px;
  line-height: 20px;
  border-bottom: 1px dashed #e5e5e5;
}
.content-button__text:hover {
  cursor: pointer;
  color: #00aeec;
  background: #f1f1f1;
}

.content-button__text {
  transition: background-color 0.3s ease;
  flex: 1;
}

.content-tabs {
  display: none;
  border-bottom: 1px solid #e5e5e5;
}

.content-tabs__item {
  cursor: pointer;
  flex: 1;
  line-height: 27px;
  text-align: center;
}

.content-tabs__item.active {
  background-color: #007bff;
  color: #fff;
}

#hotList {
  margin-top: 5px;
  max-height: 220px;
  overflow-y: scroll;
  padding-left: 3px;
}
#hotList li {
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hotList img {
  height: 20px;
  width: 20px;
}
