* {
  margin: 0;
  padding: 0;
}
.content {
  height: auto;
  min-width: 280px;
  min-height: 90px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
.content-button {
  height: 20px;
  padding: 3px 5px 3px 5px;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 1px dashed #e5e5e5;
}
.content-button__text:hover {
  color: #ff8e3d;
  background: #f1f1f1;
}
.content-button_switch {
  display: none;
}
.content-button__switch {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
}
.content-button_switch span {
  display: inline-block;
  width: 100px;
}
.proxy {
  cursor: default;
  display: flex;
  align-items: center;
}
.proxy span {
  margin-right: 5px;
}
.switch {
  height: auto;
}
#proxyText {
  color: red
}
.self-proxy {
  margin-top: 5px;
  width: 120px;
}